body {
	background-color:rgba(30,120,89,.2);
	font-family: 'Exo', sans-serif;
}

table {
	width: 100%;
	background-color: cyan;
	border-collapse: collapse;
}
caption {
	font-family: 'Pacifico', cursive;
	font-size: 30px;
}
tbody {
	font-style: italic;
}
table, th, tr, td {
	border: 2px solid black;
	text-align: center;
}
th {
	background-color: grey;
}

.TheBand {
	font-family: 'Pacifico', cursive;
	font-size: 35px;
	text-align: center;
}

.section1 {
	text-align: center;
	align-content: center;
}


#bandsite a {
	text-decoration: none;
}
#bandsite a:hover {
	text-decoration: underline;
	background-color: lightgreen;
}

span.itl {
	font-style: italic;
}

sub {
	font-size: 10px;
}

hr {
	padding-top: 10px;
	border-top: 5px dashed white;
}