header {
	text-align: center;
	font-family:'Cookie', cursive;
	font-size: 100px;
	height: 80px;
	margin-top: -90px;
}

footer {
	text-align:center;
	position: fixed;
	width: 100%;
	bottom: 0px;
}
a {
	color: teal;
	text-decoration: none;
	font-size: 24px;
}
