body {
	font-family: 'Open Sans Condensed', sans-serif;
}

a {
	color: lightgreen;
	font-size: 24px;
	text-decoration: none;
}
a:link {
	padding-right: 20px;
}
a:visited {
	color: blue;
}
a:hover {
	font-weight: 700;
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}
.row-centered {
    text-align:center;
    margin: 60px 0px 30px 0px;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:center;
}

.page-header h1{
	text-align: center;
	font-family: 'Cookie', cursive;
	font-weight: 600;
	font-size: 120px;
	padding-top: 10px;
	margin: -30px 0 -30px 0;
}

.footer {
	width: 99%;
	bottom: 0;
	text-align: center;
	margin-top: 20px;
	border-top: 2px solid black;
	width: 500px;
}
.footer h5 {
	font-weight: 600;
}
.nav li {
	font-family: 'Dancing Script', cursive;
}
#navbar {
	background-color: rgba(255,255,255,.3);
	margin-top: -20px;
}
#phone {
	margin-top: -5px;
}