body {
	font-family: sans-serif;
}
header {
	text-align: center;
	font-family:'Cookie', cursive;
	font-size: 100px;
	height: 80px;
	margin-top: -90px;
}

footer {
	text-align:center;
	position: absolute;
	bottom: 0px;
}
a {
	color: green;
	font-size: 24px;
	text-decoration: none;
}
a:link {
	padding-right: 20px;
}
a:visited {
	color: blue;
}
a:hover {
	font-weight: 700;
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}


#days {
	font-weight: 400;
}

.main {
	background-color: #FF9D39;
	height: 530px;
}
.footer footer{
	width: 99%;
}